<div class="container">
    <h1>Angular Components</h1>
    <nav>
        <ol>
            <li><a routerLink="/display-hello-world">Display Hello World</a></li>
            <li><a routerLink="/show-hello-button">Show Hello Button</a></li>
            <li><a routerLink="/display-name">Display Name</a></li>
            <li><a routerLink="/counter">Counter</a></li>
            <li><a routerLink="/simple-form">Simple Form</a></li>


        </ol>

    </nav>
    <hr>
    <h1>Angular Components OUTPUT</h1>


    <router-outlet></router-outlet>
</div>